@import url(menu.css);
@import url(footer.css);



@font-face {
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 body{
  background-image: url("../img/fondo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
 }


 .container {
   width: 100%;
   position: absolute;
   top: 65px;

 }


 /*CONTENIDO */
 
 #main{
  margin: 0 auto;
  width: 100%;
  min-height: 645px;
  }


  .main-container{
    width: 100%;
    margin-top:30px;
    background: rgba(152, 147, 146,0.3);
    border-radius: 5px;
  }

/* CONTENEDOR TITULO - EDIT PERFIL */
  .intro{
    margin: 0 auto;
    width: 95%;
    overflow: hidden;
    border-bottom: 1px solid black;
  }



  h1{
    float: left;
    color:black;
    font-size: 35px;
    margin-left: 10px;
  }

  .edit {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }

  .edit a {
    font-size:15px;
    padding: 3px 7px;
    color: white;
    background: rgb(13, 6, 53);
    text-decoration: none;
    border-radius: 3px;
    text-shadow: #222 0 1px 0;
  }

  /*CONTENEDOR PROFILE */

  .profile{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .profile h2 {
  color:black;
 }

  .profile img {
    width:130px;
    float: left;
    margin-top:25px;
    margin-left:30px;
  }

  .block-profile{
    float: right;
    width: 40%;
    margin-top:25px;
    margin-right: 20px;
  }

  .block-profile ul {
    list-style: none;
    
  }

  .block-profile ul li {
    border-bottom: 1px solid black;
    margin-top:10px;
  }

  .block-profile p {
    display: inline;
    margin-left: 5px;
  }

/* BLOQUE LOGROS  */

.logros{
  width: 70%;
  margin: 0 auto;  
  margin-top: 50px;
  margin-bottom: 50px;
}

.logros h2 {
  text-align: center;
  font-size:40px;
  color:black;
  text-decoration: underline black;
}

.block-logros ul{
  margin: 0 ;
  margin-top:30px;
  display: flex;
  flex-flow: row wrap;  
  list-style: none;
  margin-bottom: 30px;
}

.block-logros ul li {
  margin: 0 auto;
}





/* MEDIAS QUERIES */

  @media (min-width:900px) {


    .main-container{
      width: 60%;
      margin-left: 50px;
      
    }
    .profile{
      width: 90%;
      margin: 0 auto;
    }

    .logros{
      width: 100%;
    }
    

    .block-logros ul{
      flex-flow: row ;
    }

  }


  
  @media (min-width:1180px) {

    .main-container{
      width: 45%;
      margin-left: 50px;
    }
  
  }